
body{
    font: 20px Arial, sans-serif;
}

h3{
    font: 20px Arial, sans-serif;
    padding-top: 10px;
}


.navbar{
    background-color: #688A08;
}

.quem-somos{
    background-color: #8181F7;
    color: white;
}

.margin{
    padding-bottom: 40px;
    padding-top: 10px;
}

.parceiros{
    background-color: #2E64FE;
}

.bg-footer{
    background-color:black;
    color: white;
}
